.header-container {
    height: 50px;
    width: 100%;
    text-align: center;
    background: #1872f9;
}

.left-text {
    float: left;
    padding: 5px 10px;
    color: #fff;
    margin: 10px 0 0 10px;
    font-size: 18px;
}

.center-text{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.tabs-nav{
    height: 40px;
    background-color: #f2f2f2;
}

.tabs{
    width: 50%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    font-size: 16px;
    background: #999;
}
.tabs-left{
    border-right: 1px solid #cccccc;
}

/*@media only screen and (min-width:1000px){*/
    /*.publish .left-btn, .publish .right-btn {*/
        /*display: none;*/
    /*}*/
/*}*/
