.content-wrapper {
  background: #fff;
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}

.content-wrapper.send-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  font-size: 16px;
  color: #a2a2a2
}

.merchant-info {
  margin-bottom: 15px;
  background: #fff;
}

.merchant-info li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;
  text-align: left;
}

.merchant-info li > span.merchant-text{
  float: right;
  color: #626262;
}

.merchant-info li >input {
  border: 0;
  font-size: 14px;
  color: #757575;
  float: right;
  text-align: right;
  height: 50px;
  line-height: 50px;
}

.send-wrapper .merchant-buy {
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  line-height: 56px;
  text-align: right;
}

.send-wrapper .merchant-buy .merchant-totalmoney {
  font-size: 18px;
  color: #0a94ff;
  margin-right: 15px;
}

.send-wrapper .merchant-buy .merchant-buy-btn {
  display: inline-block;
  height: 56px;
  background: #0a94ff;
  color: #fff;
  padding: 0 20px;
}


