.merchant-item-box {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  height: auto;
}

.merchant-img-box {
  width: 30%;
  min-height: 90px;
}

.merchant-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  border: 0
}

.merchant-content {
  position: absolute;
  left: 35%;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

.merchant-title {

}

.merchant-name {
  color: #545454;
  font-size: 18px;
  font-weight: bold;
}

.merchant-count {
  float: right;
  font-size: 14px;
  color: #b4b4b4;
}

.merchant-des {
  font-size: 14px;
  color: #9d9d9d;
}

.merchant-bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.merchant-price {
  font-size: 18px;
  color: #19a4bf;
}

.merchant-buy-btn {
  padding: 5px 20px;
  background: #fff;
  font-size: 14px;
  color: #505050;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  float: right;
  margin-bottom: 10px;
}

.merchant-disabled .merchant-name{
   color: #d1d1d1;
 }

.merchant-disabled .merchant-count{
  color: #d1d1d1;
}

.merchant-disabled .merchant-des{
  color: #d1d1d1;
}

.merchant-disabled .merchant-price{
  color: #d1d1d1;
}

