.smart-publish {
    width: 100%;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 16px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.smart-publish span {
    display: block;
    margin-bottom: 5px;
}

.smart-publish input[type="text"], .smart-publish textarea {
    color: #555;
    height: 30px;
    line-height: 15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-publish textarea {
    height: 100px;
    padding-top: 10px;
}

.smart-publish span.btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    white-space: nowrap;
    line-height: 1.5;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 4px;
    height: 28px;
    user-select: none;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: #fff;
    background-color: #666;
    margin-top: 20px;
}

.smart-publish span.btn:hover {
    background-color: #1872f9;
}

.smart-publish span.btn.smart-btn-submit {
    background-color: #1872f9;
    margin-right: 30px;
}

.btn-wrapper {
    text-align: left;
    display: none;
}

@media only screen and (min-width:1000px){
    .btn-wrapper {
        text-align: left;
        display: block;
    }
}
