a {
  text-decoration: none;
}

html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent
}

body, html {
  font-family: sans-serif
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

input, select, textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

del {
  text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500
}

ol, ul {
  list-style: none
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500
}

q:after, q:before {
  content: ''
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

a:active, a:hover {
  text-decoration: none
}

a, ins {
  text-decoration: none
}

body, input, select {
  font: .4rem/1.5 "Microsoft Yahei", SimHei, SimSun
}

html {
  background: #f2f2f2
}

body, html {
  min-height: 100%
}

body {
  background-color: #f2f2f2;
  color: #333
}

a {
  color: #19a4bf
}

.clearfix:after {
  content: "";
  display: block;
  clear: both
}

.clearfix {
  zoom: 1
}